.vscode/**
.vscode-test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
src/**/*.ts
dist/**/*.map
biome.json
vite.config.ts
bun.lockb
.cursorrules
bunfig.toml
assistant_snippet_*.txt

# Keep only the necessary images
images/icon.png
!images/icon.png
images/*.gif

# Make sure dist folder is included
!dist/**/*.js
dist/**/*.map

# Development files
.github/**
.git/**
.DS_Store
*.vsix
*.log
*.tgz

# Include only required node_modules
node_modules/**
!node_modules/@bsv/sdk/**
!node_modules/is-base64/**
!node_modules/is-hex/**
!node_modules/js-1sat-ord/**
!node_modules/node-fetch/**
!node_modules/typed-html/**
!node_modules/bmapjs/**
!node_modules/bpu-ts/**